body {
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.reg p{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.bio {
    
    padding: 30px;
    background-color: rgb(255,255,255,0.7);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.bio2 {
    justify-content: center;
    justify-items: center;
}

label {
    margin-top: 5px;
}

.button1 {
    margin: 5px;
    font-size: 14pt;
    font-weight: bold;
    width: 360px;
}

.sosal {
    margin: 5px;
    font-size: 14pt;
    font-weight: bold;
}

button:hover {
    background-color: bisque;
}

a {
    text-decoration: none;
    color: black;
}

.que {
    font-size: 16pt;
    padding: 30px;
    background-color: rgb(255,255,255,0.7);
    border-radius: 5%;
    width: 200px;
    justify-content: center;
    justify-items: center;
    margin-left: 40%;
    margin-top: 100px;
}

span {
    display: flex;
    flex-direction: row;
}